body {
    height: 100%;
    background-image: url(./puzzle.svg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
}

.css-1hgxlf6-MuiPaper-root-MuiCard-root {
  background-color: rgba(255, 0, 0, 0.3);
}
